// Import League Spartan font
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

// Primary colors
$Dark-purple-1: hsl(252, 94%, 67%);
$Light-purple-2: hsl(252, 100%, 73%);
$Dark-blue-3: hsl(233, 31%, 17%);
$Pale-dark-blue-4: hsl(233, 30%, 21%);

// Secondary colors
$Very-light-blue-5: hsl(231, 73%, 93%);
$Bluish-gray-6: hsl(231, 20%, 61%);
$Pale-lavender-7: hsl(231, 37%, 63%);
$Bluish-black-8: hsl(228, 29%, 7%);

// Accent colors
$Pale-red-9: hsl(0, 80%, 63%);
$Very-light-red-10: hsl(0, 100%, 80%);
$Bluish-white-11: hsl(240, 27%, 98%);
$Very-dark-blue-12: hsl(233, 30%, 11%);

// Extra colors
$White: hsl(0, 0%, 100%);
$Red: rgb(245, 41, 41);
$Bright-green: hsl(160, 67%, 52%);
$Bright-orange: hsl(34, 100%, 50%);
$Green: rgb(26, 215, 39);

$Card-bdr-rad: 8px;
$Fields-bdr-rad: 4px;


// Font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Font sizes
$font-size-heading-l: 36px;
$font-size-heading-m: 24px;
$font-size-heading-s: 15px;
$font-size-heading-s-variant: 15px;
$font-size-body: 15px;

// Line heights
$line-height-heading-l: 33px;
$line-height-heading-m: 22px;
$line-height-heading-s: 24px;
$line-height-heading-s-variant: 15px;
$line-height-body: 18px;
$line-height-body-variant: 15px;

// Letter spacing
$letter-spacing-heading-l: 1px;
$letter-spacing-heading-m: -0.75px;
$letter-spacing-heading-s: -0.25px;
$letter-spacing-heading-s-variant: -0.25px;
$letter-spacing-body: -0.1px;
$letter-spacing-body-variant: -0.25px;


@mixin alert($color, $bg-color) {
  padding: 6px 15px;
  background-color: $bg-color;
  color: $color;
  border-radius: 5px;
  margin-bottom: 30px;
}