@use 'variables' as *; // Import all variables & styles from _variables.scss

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // color-scheme: light dark;

  // Light theme
  // Interpolating Sass variables in CSS variables to enable value switch
  // --Page-bg: #{$Bluish-white-11};
  // --Text-color: #{$Bluish-black-8};

  --Page-bg: #{$Very-dark-blue-12};
  --Text-color: #{$Bluish-white-11};
}

// Dark theme
.dark-theme {
  --Page-bg: #{$Very-dark-blue-12};
  --Text-color: #{$Bluish-white-11};
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-weight: $font-weight-regular;
  font-size: $font-size-body;
  line-height: $line-height-body;
  letter-spacing: $letter-spacing-body;

  background-color: var(--Page-bg);
  color: var(--Text-color);
}

// Headings
h1 {
  font-weight: $font-weight-bold;
  font-size: $font-size-heading-l;
  line-height: $line-height-heading-l;
  letter-spacing: $letter-spacing-heading-l;
}

h2 {
  font-weight: $font-weight-bold;
  font-size: $font-size-heading-m;
  line-height: $line-height-heading-m;
  letter-spacing: $letter-spacing-heading-m;
}

h3 {
  font-weight: $font-weight-bold;
  font-size: $font-size-heading-s;
  line-height: $line-height-heading-s;
  letter-spacing: $letter-spacing-heading-s;
}

a {
  text-decoration: none;
  color: $Light-purple-2;
}

.faint-text {
  opacity: 0.65;
}

.reveal {
  display: block;
}

input {
  padding: 10px;
  color: var(--Text-color);
}

.success {
 @include alert($Very-dark-blue-12, $Bright-green);
}

.warning {
  @include alert($Bluish-white-11, $Pale-red-9);
}

.red {
  color: $Red;
}
.pale-red {
  color: $Pale-red-9;
}
.orange {
  color: $Bright-orange
}
.lemon {
  color: $Bright-green;
}
.green {
  color: $Green;
}