@use '../../variables';

.invoicesPage {
  display: flex;
  width: 100vw;
  overflow-x: hidden;

  aside {
    width: 103px;
    height: 100vh;
  }

  main {
    flex-grow: 1;
    max-width: 880px;
    margin: 0 auto;
    padding: 70px;
  }
}